/* GLOBAL CSS */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic Styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
span {
  font-family: 'Montserrat', sans-serif;
}

/* Container */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 1em;
  line-height: 1.2;
}

p {
  margin: 1em 0;
}
li {
  text-decoration: none !important;
  list-style: none !important;
  font-family: 'Montserrat', sans-serif;
}
footer {
  text-align: center;
  padding: 1em 0;
  background-color: #333;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}
/* HEADER */
.counter {
  background-color: #e74c3c;
  color: #fff;
  font-size: 0.75rem;
  padding: 0.15rem 0.3rem;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* BANNER */
.h1-banner {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
  letter-spacing: 3px;
}
.h2-banner {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  letter-spacing: 1.5px;
}
.text-BebasNeue {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
  color: black;
  letter-spacing: 0.8px;
}
